<!-- templates banks/opelement_form.html -->

{% extends 'base.html' %}
{% load static %}
{% get_media_prefix %}
{% load i18n %}
{% load banks_extra %}

{% block title %}Create or Edit an Operation{% endblock %}
{% load django_bootstrap5 %}


{% block bootstrap5_content %}
  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
  <main>
    <div class="container container-md">
    {% include 'select_date.html' %}
    {% include 'menu.html' %}
		<!----------------- start -------------->
			<div class="row justify-content-center">
				<div class="col col-md-8">
					<h2>{% trans "Create or update an OpElement" %}</h2>
				</div>
			</div>
			<form method="POST">
				{% csrf_token %}
				<div class="row justify-content-center">
					<div class="col col-md-6">
						{% bootstrap_form form %}
						<input type="hidden" name="date" value="{{view_day|date:'Y-m-d'}}">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col text-center">
						<input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" data-toggle="tooltip" title="{% trans 'Save this new OpElement' %}">
						<a  class="btn btn-primary" role="button" href="{% url 'budget:items-list' %}?date={{ view_day|date:'Y-m-d' }}" data-toggle="tooltip" title="{% trans 'Cancel and return to the pay media list for this account' %}">{% trans 'Cancel' %}</a>
					</div>
				</div>
			</form>
		<!---------------- end ----------------->
		</div>
  </main>
{% endblock %}
